*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
**/build/
app/build/
.build-outputs
.build-outputs/
.build-outputs/*
**/.build-outputs/**
*.apk
**/*.apk
*.aab
**/*.aab
*.dex
**/*.dex
*.class
**/*.class
*.mp3
**/*.mp3
*.m4a
**/*.m4a
*.wav
**/*.wav
*.ogg
**/*.ogg
*.aac
**/*.aac
*.flac
**/*.flac
*.mp4
**/*.mp4
*.zip
**/*.zip
*.tar*
**/*.tar*
*.7z
**/*.7z
/captures
.externalNativeBuild
.cxx
local.properties
.env
.dev.env.json
debug.keystore
debug.keystore.base64
*.bin
